# ===================================
# Mysql 配置
# ===================================
DB_HOST=47.115.57.130
DB_PORT=33061
DB_USER=student
DB_PASSWORD=wolin666
DB_NAME=for_student
DB_CHARSET=utf8mb4

# ===================================
# Email 配置
# ===================================
EMAIL_PASSWORD=xxxx
SENDER_EMAIL=1124317604@qq.com

# ===================================
# LLM Basic 配置
# ===================================
LLM_TIMEOUT=30

# ===================================
# DashScope 配置
# ===================================
DSC_API_URL=https://dashscope.aliyuncs.com/api/v1
QWEN_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
QWEN_DEFAULT_MODEL=qwen3-max
MY_DASHSCOPE_API_KEY=sk-xxxx
QWEN_EMBEDDING_MODEL_NAME=text-embedding-v3
QWEN_ASR_MODEL_NAME=qwen3-asr-flash
QWEN_OCR_MODEL_NAME=qwen-vl-ocr-latest

# ===================================
# DeepSeek
# ===================================
DEEPSEEK_DEFAULT_MODEL=deepseek-chat
DEEPSEEK_API_KEY=sk-55d122xxxxxxf2c14341f5
DEEPSEEK_BASE_URL=https://api.deepseek.com

# ===================================
# Redis 配置
# ===================================
REDIS_HOST=47.115.57.130
REDIS_PORT=6379
REDIS_DB=0
#REDIS_PASSWORD=  # 如没有密码，删除此行

# ===================================
# ffmpeg 配置
# ===================================
FFMPEG_PATH=xxx

# ===================================
# 日志 配置
# ===================================
LOG_LEVEL=INFO

# ===================================
# MinIO 配置
# ===================================
MINIO_ACCESS_KEY=xxxx
MINIO_SECRET_KEY=xxxx
MINIO_ENDPOINT=127.0.0.1:9000

# ===================================
# Tencent Cloud Cos配置
# ===================================
TC_SECRET_ID=AKxxxKH6xxxxxxdfWBetxxxvwlO6mLkw
TC_SECRET_KEY=5DxxxcFj1xxxxx1woxxxAVjppqp
TC_REGION=ap-guangzhou
# 如果使用永久密钥不需要填入token，如果使用临时密钥需要填入，临时密钥生成和使用指引参见 https://cloud.tencent.com/document/product/436/14048
TC_TOKEN=
# 指定使用 http/https 协议来访问 COS，默认为 https，可不填
TC_SCHEME=https
TC_BUCKET_NAME=rictest-xxxxx
# 代理IP及端口
TC_PROXY_HTTP_IP=
TC_PROXY_HTTPS_IP=


# ===================================
# Wolin MinIO 配置
# ===================================
MINIO_ASR_TEXT_BUCKET_NAME=audio-text


# ===================================
# Base 模块
# ===================================
BASE_DB_NAME=ric_ai_base

# ===================================
# Milvus 向量数据库连接配置
# ===================================
MILVUS_HOST=47.115.57.130
MILVUS_PORT=19530
MILVUS_URI=http://47.115.57.130:19530

# 可选：认证信息（如果启用了安全认证）
MILVUS_USER=root
MILVUS_PASSWORD=Milvus@2025

# 数据库名称（Milvus 2.4+ 支持多数据库）
MILVUS_DATABASE=default

# 超时时间（秒）
MILVUS_TIMEOUT=10

# 默认集合名称
MILVUS_COLLECTION_NAME=demo_collection

# 向量维度（根据你的模型调整）
VECTOR_DIM=768

# 是否使用 TLS/SSL 加密连接（默认 false）
MILVUS_SECURE=False

# 自定义别名（用于 pymilvus 多连接管理）
MILVUS_ALIAS=default

# ===================================
# Neo4j 配置
# ===================================
NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=neo4j123
NEO4J_DATABASE=neo4j